/****************************** COLOR SCHEME - BEGIN ******************************/
:root {
	--pure-black: #000000;  /* color: var(--pure-black) */
	--pure-white: #ffffff;  /* color: var(--pure-white) */
}
/****************************** COLOR SCHEME - END ******************************/

* {
	margin: 0;
	padding: 0;
}

/****************************** BACKGROUND - BEGIN ******************************/
#bg-stars-layer {
	background-color: var(--pure-black);
	width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
	left: 0;
	z-index: -10;
}

#bg-blackhole-layer {
	background-color: transparent;
    width: 150vmin;
	height: 150vmin;
	
    position: fixed;
    bottom: -85vmin;
    right: -50vmin;
	z-index: -5;
}

#bg-blackhole2-layer {

	/* display: none; CODEPEN BLACKHOLE TESTING */

	background-color: transparent;
    width: 75vmin;
	height: 75vmin;
	
    position: fixed;
    top: 0vmin;
    left: 0vmin;
	z-index: -5;
}

#bg-bhole-layer {

	display: none; /*PNG BLACKHOLE*/

	background-color: transparent;
    width: 150vmin;
	height: 150vmin;
	
    position: fixed;
    bottom: -75vmin; /*half of initial height*/
    right: -75vmin; /*half of initial width*/
	z-index: -5;
	
    background-image: url(../img/blackhole.png);
    background-repeat: no-repeat;
	background-size: contain;
	
	/* animation: 
	rotate 120s linear infinite,
	gravity 30s steps(720, end) 1 forwards; */

	/* steps вместо linear - дробление на 720 шагов обеспечивает плавность анимации 
	720 = 30сек * 24кадра */
}

@keyframes rotate {
    100% {
		transform: rotate(-360deg);
    }
}

@keyframes gravity {
    100% {
		width: 200vmin;
		height: 200vmin;
		
		bottom: -30vmin;
    	right: -30vmin; 
    }
}
/****************************** BACKGROUND - END ******************************/





/****************************** @MEDIA - BEGIN ******************************/
/*	typical checkpoints - DELETE unused		*/

/* Extra small devices (phones, <<<--600px and down) */
@media only screen and (max-width: 600px) {} 

/* Small devices (portrait tablets and large phones, 601px-->>> and up) */
@media only screen and (min-width: 601px) {} 

/* Medium devices (landscape tablets, 768px-->>> and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px-->>> and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px-->>> and up) */
@media only screen and (min-width: 1200px) {}
/****************************** @MEDIA - END ******************************/